<?xml version="1.0"?>
<launch>
    <node pkg="villa_manipulation" type="receivepose_actionserver.py" name="receivepose_action" output="screen"/>
    <node pkg="villa_manipulation" type="givepose_actionserver.py" name="givepose_action" output="screen"/>
    <!--<node pkg="villa_manipulation" type="putdown_actionserver.py" name="putdown_action" output="screen"/>-->
</launch>
